main {
  padding-top: 100px;
}
@media (min-width: 769px) {
  main {
    padding-top: 150px;
  }
}
main .welcome {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}
@media (max-width: 768px) {
  main .welcome {
    grid-template-columns: 1fr;
  }
}
main .welcome__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: var(--lh-body);
}
main .welcome__text h1 {
  font-size: var(--fs-heading-display);
}
main .welcome__text p {
  font-size: var(--fs-body-l);
}
main .welcome__image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  main .welcome__image {
    justify-content: center;
  }
}
main .about-us {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}
@media (max-width: 768px) {
  main .about-us {
    grid-template-columns: 1fr;
  }
}
main .about-us__image {
  width: 100%;
}
main .about-us__image img {
  width: 100%;
  height: 100%;
}
main .about-us__text {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  padding: 2rem 1rem;
}
main .about-us__text h2 {
  color: var(--color-primary);
  font-size: var(--fs-heading-m-bold);
}
main .about-us__text p {
  margin-top: 2rem;
  color: #fff;
  font-size: var(--fs-body-l);
}
main .tag-line {
  background-color: var(--color-primary);
  border: 2px solid black;
  width: 100%;
  padding: 5rem 6rem;
  height: auto;
}
@media (max-width: 768px) {
  main .tag-line {
    padding: 1rem 1.5rem;
    height: auto;
  }
}
main .tag-line .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-width: 1400px;
  margin: 0 auto;
}
main .tag-line .text-container__goal-label {
  background-color: #fff;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}
main .tag-line .text-container h2 {
  font-size: clamp(1rem, 5vw, 3.5rem);
  text-decoration: underline;
}
main .tag-line .text-container__goal-subtext {
  padding-top: 1rem;
  font-size: var(--fs-body-l);
  font-style: italic;
}
main .share {
  padding: 2rem 3rem;
  width: 100%;
}
main .share__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}
main .share__container .icons-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  main .share__container .icons-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
main .share__container .icons-container__icon {
  width: 100%;
  justify-self: center;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main .share__container .icons-container__icon img {
  width: 80px;
  height: auto;
  margin: 0 auto 1rem;
}/*# sourceMappingURL=about.css.map */