main {
    padding-top: 100px;

    @media(min-width:769px) {
        padding-top: 150px;
    }


    .welcome {
        padding: 2rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        max-width: 1200px;
        margin-inline: auto;

        @media(max-width:768px) {
            grid-template-columns: 1fr;
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            line-height: var(--lh-body);

            h1 {
                font-size: var(--fs-heading-display);
            }

            p {
                font-size: var(--fs-body-l);
            }
        }

        &__image {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            img {
                width: 300px;
                height: 300px;
            }

            @media (max-width:768px) {
                justify-content: center;
            }
        }
    }

    .about-us {
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        max-width: 1200px;
        margin-inline: auto;

        @media(max-width:768px) {
            grid-template-columns: 1fr;
        }

        &__image {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            background-color: var(--color-secondary);
            padding: 2rem 1rem;

            h2 {
                color: var(--color-primary);
                font-size: var(--fs-heading-m-bold);
            }

            p {
                margin-top: 2rem;
                color: #fff;
                font-size: var(--fs-body-l);
            }
        }
    }

    .tag-line {
        background-color: var(--color-primary);
        border: 2px solid black;
        width: 100%;
        padding: 5rem 6rem;
        height: auto;

        @media(max-width:768px) {
            padding: 1rem 1.5rem;
            height: auto;
        }

        .text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            max-width: 1400px;
            margin: 0 auto;


            &__goal-label {
                background-color: #fff;
                border: 1px solid black;
                padding: .5rem 1rem;
                border-radius: 30px;
            }

            h2 {
                font-size: clamp(1rem, 5vw, 3.5rem);
                text-decoration: underline;
            }

            &__goal-subtext {
                padding-top: 1rem;
                font-size: var(--fs-body-l);
                font-style: italic;
            }
        }
    }

    .share {
        margin: 1.5rem 0 1.5rem;
        padding: 0 1rem 1rem 0;
        width: 100%;
        display: flex;
        align-items: center;


        &__container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin: 0 auto;
            max-width: 1200px;

            h2 {
                padding: 1rem;
                font-size: var(--fs-body-l);
            }



            .icons-container {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
                gap: 1rem;
                align-items: center;
                margin: 0 auto;


                @media (max-width:768px) {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                }

                &__icon {
                    width: 100%;
                    justify-self: center;
                    display: flex;
                    gap: .5rem;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;

                    h3 {
                        font-size: var(--fs-body-m);
                    }

                    p {
                        font-size: var(--fs-body-s);
                    }

                    img {
                        width: 80px;
                        height: auto;
                        margin: 0 auto 1rem;
                    }
                }
            }
        }
    }

    .join {
        width: 100%;
        height: auto;
        background-color: #181818;

        .container {
            padding: 2rem 3rem;
            position: relative;
            width: 100%;

            &__mouth {
                position: absolute;
                width: 80%;
                height: 80%;
                inset: 50% auto auto 50%;
                transform: translate(-50%, -50%);
                z-index: 0;
                pointer-events: none;
            }

            &__text {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                text-align: center;
                color: #fff;

                h2 {
                    font-size: var(--fs-heading-m-bold);
                }

                h4 {
                    font-size: var(--fs-body-l);
                }

                p {
                    font-size: var(--fs-body-s);
                }
            }

            &__icons {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                justify-content: center;

                .social-marks {
                    padding: 2rem;
                    display: flex;
                    gap: 5rem;

                    .icon-link {
                        border-radius: 50%;
                        background-color: var(--color-secondary);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 96px;
                        height: 96px;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: var(--color-primary);

                            .icon {
                                color: var(--color-secondary);
                            }
                        }

                        .icon {
                            color: var(--color-primary);
                            width: 50%;
                            height: auto;
                        }
                    }
                }

                .account-name {
                    text-align: center;
                    color: #fff;
                    font-size: var(--fs-body-s);
                }
            }

        }
    }

    .subscribe {
        background-color: var(--color-primary);
        width: 100%;
        height: auto;
        padding: 2rem 1rem;

        .container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;

            &__text {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h2 {
                    font-size: var(--fs-heading-m-bold);
                }

                p {
                    font-size: var(--fs-body-m);
                }
            }

            &__form {

                padding: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                @media (max-width:768px) {
                    flex-direction: column;
                    gap: 1rem;
                }

                .email {
                    display: flex;
                    gap: 0;

                    &__input {
                        width: 300px;
                        height: 50px;
                        padding: 10px;
                        border: 1px solid #000;
                        outline: none;
                    }

                    &__btn {
                        height: 50px;
                        background-color: var(--color-secondary);
                        color: #fff;
                        padding: 0 0.5rem;
                        outline: none;
                        cursor: pointer;
                        border: none;
                        padding: 1rem;
                    }
                }


            }
        }
    }

}