/* =========================
   Hero Section
========================= */
.hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 70vh;
  padding: 4rem 2rem;
  background: url(/Assets/images/hero-picture.jpeg) center/cover no-repeat;
}
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
.hero .text-content {
  grid-column: 1/2;
  z-index: 10;
}
.hero .text-content h1 {
  font-size: var(--fs-heading-display);
  color: var(--color-text-w);
}
.hero .text-content h2 {
  font-size: var(--fs-body-m);
  font-weight: 200;
  color: var(--color-text-w);
  padding: 1rem 0;
}
.hero .text-content .hero-cta {
  padding: 1rem 0;
}
@media (max-width: 640px) {
  .hero .text-content::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
}
.hero .hero-right {
  grid-column: 2/3;
}

/* =========================
   Tagline Section
========================= */
.tagline-strip {
  background-color: var(--color-primary);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}
.tagline-strip h2 {
  font-size: clamp(1rem, 3vw, 2.25rem);
}
@media (max-width: 640px) {
  .tagline-strip h2 {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
  }
}

/* =========================
   Recent Post Section
========================= */
.recent-blog {
  padding: 4rem 3rem 0;
  /* ===== Responsive ===== */
}
.recent-blog #section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
  color: var(--color-text-w);
  background-color: var(--color-secondary);
}
.recent-blog .recent-grid {
  border: 2px solid #000;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  /* ===== Featured Card ===== */
  /* ===== Small Cards ===== */
}
.recent-blog .recent-grid .featured {
  grid-area: 1/1/4/3;
  border-right: 2px solid #000;
  height: auto;
}
.recent-blog .recent-grid .featured img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recent-blog .recent-grid .featured .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 1rem 2rem;
  height: 40%;
}
.recent-blog .recent-grid .featured .text-container .head-body h3 {
  font-size: var(--fs-heading-m);
}
.recent-blog .recent-grid .featured .text-container .head-body p {
  margin-top: 1rem;
  font-size: var(--fs-body-m);
}
.recent-blog .recent-grid .featured .text-container .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.recent-blog .recent-grid .featured .text-container .link .icons {
  display: flex;
  gap: 1rem;
}
.recent-blog .recent-grid .featured .text-container .link .icons .icon {
  width: 24px;
  height: 24px;
}
.recent-blog .recent-grid .featured .text-container .link .read-btn {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}
.recent-blog .recent-grid .small {
  border-bottom: 2px solid #000;
  display: flex;
  height: auto;
}
.recent-blog .recent-grid .small img {
  aspect-ratio: 3/2;
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recent-blog .recent-grid .small .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 1rem 2rem;
}
.recent-blog .recent-grid .small .text-container .head-body h3 {
  font-size: var(--fs-heading-s);
}
.recent-blog .recent-grid .small .text-container .head-body p {
  margin-top: 1rem;
  font-size: var(--fs-body-s);
}
.recent-blog .recent-grid .small .text-container .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.recent-blog .recent-grid .small .text-container .link .icons {
  display: flex;
  gap: 1rem;
}
@media (max-width: 960px) {
  .recent-blog .recent-grid .small .text-container .link .icons {
    gap: 0.5rem;
  }
}
.recent-blog .recent-grid .small .text-container .link .icons .icon {
  width: 24px;
  height: 24px;
}
.recent-blog .recent-grid .small .text-container .link .read-btn {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}
.recent-blog .recent-grid .small-1 {
  grid-area: 1/3/2/5;
}
.recent-blog .recent-grid .small-2 {
  grid-area: 2/3/3/5;
}
.recent-blog .recent-grid .small-3 {
  grid-area: 3/3/4/5;
  border-bottom: none;
}
@media (max-width: 768px) {
  .recent-blog .recent-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0;
  }
  .recent-blog .recent-grid .featured {
    grid-area: 1/1/2/2;
    border-bottom: 2px solid #000;
    border-right: none;
  }
  .recent-blog .recent-grid .featured img {
    height: auto;
  }
  .recent-blog .recent-grid .featured .text-container {
    height: auto;
  }
  .recent-blog .recent-grid .featured .text-container .head-body h3 {
    font-size: var(--fs-heading-s);
  }
  .recent-blog .recent-grid .featured .text-container .head-body p {
    font-size: var(--fs-body-s);
  }
  .recent-blog .recent-grid .small {
    flex-direction: column;
    border-bottom: 2px solid #000;
  }
  .recent-blog .recent-grid .small img {
    width: 100%;
    height: 60%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  .recent-blog .recent-grid .small .link {
    padding-top: 1rem;
  }
  .recent-blog .recent-grid .small-1 {
    grid-area: 2/1/3/2;
  }
  .recent-blog .recent-grid .small-2 {
    grid-area: 3/1/4/2;
  }
  .recent-blog .recent-grid .small-3 {
    grid-area: 4/1/5/2;
    border-bottom: none;
  }
}

.best-blog {
  padding: 0rem 3rem 0;
  margin-bottom: 3rem;
}
.best-blog .section-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
  color: var(--color-text-w);
  background-color: var(--color-secondary);
}
.best-blog .best-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  border: 2px solid #000;
}
@media (max-width: 768px) {
  .best-blog .best-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
.best-blog .best-grid img {
  width: 100%;
  height: auto;
}
.best-blog .best-grid .text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 1rem 2rem;
  height: 300px;
}
.best-blog .best-grid .text-container .head-body h3 {
  font-size: var(--fs-heading-s);
}
.best-blog .best-grid .text-container .head-body p {
  margin-top: 1rem;
  font-size: var(--fs-body-s);
}
.best-blog .best-grid .text-container .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.best-blog .best-grid .text-container .link .icons {
  display: flex;
  gap: 1rem;
}
@media (max-width: 960px) {
  .best-blog .best-grid .text-container .link .icons {
    gap: 0.5rem;
  }
}
.best-blog .best-grid .text-container .link .icons .icon {
  width: 24px;
  height: 24px;
}
.best-blog .best-grid .text-container .link .read-btn {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}
.best-blog .best-grid .best-cards:nth-child(1) {
  grid-area: 1/1/2/2;
  border-right: 2px solid #000;
}
@media (max-width: 768px) {
  .best-blog .best-grid .best-cards:nth-child(1) {
    grid-area: auto/auto/auto/auto;
    border-right: none;
    border-bottom: 2px solid #000;
  }
}
.best-blog .best-grid .best-cards:nth-child(2) {
  grid-area: 1/2/2/3;
  border-right: 2px solid #000;
}
@media (max-width: 768px) {
  .best-blog .best-grid .best-cards:nth-child(2) {
    grid-area: auto/auto/auto/auto;
    border-right: none;
    border-bottom: 2px solid #000;
  }
}
.best-blog .best-grid .best-cards:nth-child(3) {
  grid-area: 1/3/2/4;
}
@media (max-width: 768px) {
  .best-blog .best-grid .best-cards:nth-child(3) {
    grid-area: auto/auto/auto/auto;
    border-right: none;
    border-bottom: 2px solid #000;
  }
}/*# sourceMappingURL=home.css.map */