/* Hero section  */
.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 70vh;
    padding: 4rem 2rem;
    background: url(/Assets/images/hero-picture.jpeg) center/cover no-repeat;
}

.text-content {
    grid-column: 1/2;
    z-index: 10;
}


.text-content h1 {
    font-family: var(--font-heading);
    font-size: var(--fs-heading-display);
    color: var(--color-text-w);
}

.text-content h2 {
    font-family: var(--font-body);
    font-size: var(--fs-body-m);
    font-weight: 200;
    color: var(--color-text-w);
    padding: 1rem 0;
}

.hero-cta {
    padding: 1rem 0;
}

.hero-right {
    grid-column: 2/3;
}


/* Tagline-strip section */
.tagline-strip {
    background-color: var(--color-primary);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.tagline-strip h2 {
    font-family: var(--font-heading);
    font-size: clamp(1rem, 3vw, 2.25rem);
}

@media (max-width:640px) {
    .hero {
        grid-template-columns: 1fr;
        position: relative;
    }

    .text-content:before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -1;
    }

    .tagline-strip h2 {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
    }
}